{% if weapons %}
    <ul>
    {% for weapon in weapons %}
        <li><a href="{% url 'detail' weapon.id %}">{{weapon}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No weapons are available.</p>
{% endif %}