{% extends "base.html" %}
{% load static %}
{% block title %} Mod | {{mod}} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/mods.css" %}" />
{% endblock %}

{% block content %}
{% if mod %}
<div>
<h1>{{ mod.name }}</h1>
</div>
{% endif %}
{% endblock %}