{% if mods %}
    <ul>
    {% for mod in mods %}
        <li><a href="{% url 'mod_detail' mod.id %}">{{mod}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No mods are available.</p>
{% endif %}