<html>
<head>
  <title>Fallout - {% block title %}Start{% endblock %}</title>
  {% block css %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block javascript %}{% endblock %}
</body>
</html>